<h2>All Students</h2>
<%= form_with(model: @batch, url: add_students_batch_path(@batch), method: :post) do |form| %>
  Select Multiple Students by clicking on each student using control:
  <%= select_tag 'batch[user_ids][]', options_from_collection_for_select(@batch.eligible_students, :id, :name), { multiple: true } %>
  <%= form.submit 'Add Students to Batch' %>
<% end %>


<h2>Applied Students</h2>
<%= form_with(model: @batch, url: add_students_batch_path(@batch), method: :post) do |form| %>
  Select Multiple Students by clicking on each student using control:
  <%= select_tag 'batch[user_ids][]', options_from_collection_for_select(@batch.applied_students, :id, :name), { multiple: true } %>
  <%= form.submit 'Add Students to Batch' %>
<% end %>




<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
</head>
<body>
<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="#"><input type="checkbox"> HTML</a></li>
      <li><a href="#"><input type="checkbox"> CSS</a></li>
      <li><a href="#"><input type="checkbox"> JavaScript</a></li>
    </ul>
  </div>
</body>
